PROJECT_NAME=voice_assistant
LOGGING_LEVEL=DEBUG

SQLITE_PATH=core/db.sqlite

POSTGRES_VERSION=13
POSTGRES_PORTS=5432:5432
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_SCHEMA_2=users
POSTGRES_DB=movies

# для load_data_to_postgres.py
POSTGRES_NAME=movies
# для docker-compose.yml
POSTGRES_DB=movies
# для ElasticLoader
ELASTIC_MOVIES_INDEX=movies

STACK_VERSION=8.7.1
ELASTIC_CLUSTER_NAME=movie-cluster
MEMORY_LOCK=true
ELASTIC_PORTS=9200:9200
ELASTIC_PORT=9200
ELASTIC_HOST=elasticsearch

REDIS_PORTS=6379:6379
REDIS_HOST=redis
REDIS_PORT=6379

SENTRY_DSN=https://4f00dac96532d2ac5f94f2bd9453cc39@o4507097467846656.ingest.de.sentry.io/4507226490011728

# ---STACK---docker-compose.yml---
LOGSTASH_PORTS1=5044:5044
LOGSTASH_PORTS2=5100:5100
LOGSTASH_PORTS3=9600:9600

KIBANA_PORTS=5601:5601

# ---STACK---config.yml---
ES_PUBLIC_HOST=0.0.0.0
LOGSTASH_PUBLIC_HOST=0.0.0.0
LOGSTASH_HOST=logstash:5044
LOGSTASH_PORT=5044
KIBANA_PUBLIC_HOST=0.0.0.0
KIBANA_PUBLIC_URL=http://localhost:5601/kibana
ELASTICSEARCH_HOST=elasticsearch:9200
ES_URL=http://elasticsearch:9200

YC_API_KEY=SOME_YC_API_KEY